@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img
{
    max-width: 100%;
}

h1
{
    font-family: 'Big Shoulders Display', cursive;
    margin: 1.25rem 0;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

p
{
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 0.9rem;
    margin: 2rem 0;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.75rem;
    font-weight: 400;
}

body
{
   
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}



.deck
{
    width: 75%;
    margin: 5% auto;
    border-radius: 1rem;
    overflow: hidden;
}

.card-1
{
    background-color:  hsl(31, 77%, 52%);
}
.card-2
{
    background-color: hsl(184, 100%, 22%);
}
.card-3
{
    background-color: hsl(179, 100%, 13%);
}




button
{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    background-color:hsl(0, 0%, 95%);
    border-radius: 4rem;
    border: hsla(0, 0%, 95%,100%) 0.125rem solid;
    padding: 0.625rem 1.75rem;
    
}

.card-1 button
{
    color:hsl(31, 77%, 52%);
}
.card-2 button
{
    color: hsl(184, 100%, 22%);
}
.card-3 button
{
    color: hsl(179, 100%, 13%);
}

.card
{
    padding: 3rem 3rem 3.75rem 3rem;
}


.card-1 button:hover
{
    background-color:hsl(31, 77%, 52%);
    color:hsl(0, 0%, 95%) ;
    transition: background-color 0.4s ease;
}
.card-2 button:hover
{
    background-color: hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%) ;
    transition: background-color 0.4s ease;
}
.card-3 button:hover
{
    background-color: hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%) ;
    transition: background-color 0.4s ease;
}


@media (min-width:900px)
{
    .deck
    {   
        display: flex;
        justify-content: center;
    
    }
    h1
    {
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    p
    {
        font-size: 1.125rem;
        margin: 2.125rem 0;
        line-height: 2rem;
    }
    button
    {   
        margin-top: 3rem;
        font-size: 1rem;
    }
    
}